<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

<h1>Show File-select Fields</h1>

<h3>which allows only one file to be chosen:</h3>
    <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile" accept=".json"><br><br>
      <input type="submit">
    </form>

    <h3>Result: </h3>

    <pre><code id=res></code></pre>

</body>
<script src="jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</html>